@model VoorkeurViewModel

@{
    ViewData["Title"] = "Voorkeur";
}
<h2>Voorkeur</h2>
<hr />

<script src="~/lib/jquery/dist/jquery.js"></script>

<script type="text/javascript">
        $(document).ready(function () {
            var items = "<option value=''disabled selected hidden>Select</option>";
            $('#EenheidId').html(items);
            $('#OnderdeelId').html(items);
            $('#TaakId').html(items);
        });

        $(document).ready(function () {
            $('#TrajectId').change(function () {
                var url = '@Url.Content("~/")' + "Voorkeur/GetEenheid";
                var ddlsource = "#TrajectId";
                $.getJSON(url, { TrajectId: $(ddlsource).val() }, function (data) {
                    var items = '';
                    $("#EenheidId").empty();
                    $.each(data, function (i, eenheid) {
                        items += "<option value='" + eenheid.value + "'>" + eenheid.text + "</option>";
                    });
                    $('#EenheidId').html(items);
                });
            });

            $('#EenheidId').change(function () {
                var url = '@Url.Content("~/")' + "Voorkeur/GetOnderdeel";
                var ddlsource = "#EenheidId";
                $.getJSON(url, { EenheidId: $(ddlsource).val() }, function (data) {
                    var items = '';
                    $('#OnderdeelId').empty();
                    $.each(data, function (i, onderdeel) {
                        items += "<option value='" + onderdeel.value + "'>" + onderdeel.text + "</option>";
                    });
                    $('#OnderdeelId').html(items);
                });
            });

            $('#OnderdeelId').change(function () {
                var url = '@Url.Content("~/")' + "Voorkeur/GetTaak";
                var ddlsource = "#OnderdeelId";
                $.getJSON(url, { OnderdeelId: $(ddlsource).val() }, function (data) {
                    var items = '';
                    $('#TaakId').empty();
                    $.each(data, function (i, taak) {
                        items += "<option value='" + taak.value + "'>" + taak.text + "</option>";
                    });
                    $('#TaakId').html(items);
                });
            });

            $('#TaakId').change(function () {
                var url = '@Url.Content("~/")' + "Voorkeur/GetTaakInfo";
                var ddlsource = "#TaakId";
                $.getJSON(url, { TaakId: $(ddlsource).val() }, function (info) {
                    $("#Info").text(info);
                });
            });
        });
</script>

<form asp-controller="Voorkeur" asp-action="InvoegenVoorkeur" method="post" class="form-horizontal" role="form">

    <div class="form-group">
        <div class="row">
            <div class="alert-danger" asp-validation-summary="ModelOnly"></div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <label asp-for="MedewerkerList" class="control-label">Medewerkers</label>
                <select name="Docent" id="Docent" class="form-control form-control-warning" required>
                    <option value="0" disabled selected hidden>Docent zoeken</option>
                    @{
                        foreach (var Item in Model.MedewerkerList)
                        {

                            <option value="@Item.MedewerkerId">
                                @Item.Naam
                            </option>
                        }
                    }
                </select>
                <span asp-validation-for="MedewerkerList" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="alert-danger" asp-validation-summary="ModelOnly"></div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <label asp-for="TrajectNaam" class="control-label">Traject</label>
                <select asp-for="TrajectId"
                        class="form-control form-control-warning"
                        asp-items="@(new SelectList(@ViewBag.ListOfTraject,"TrajectId", "TrajectNaam"))"></select>
                <span asp-validation-for="TrajectId" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <label class="control-label">Eenheid</label>
                <select class="form-control" id="EenheidId" name="EenheidId"
                        asp-items="@(new SelectList(string.Empty,"EenheidId", "EenheidNaam"))"></select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <label class="control-label">Onderdeel</label>
                <select class="form-control" id="OnderdeelId" name="OnderdeelId"
                        asp-items="@(new SelectList(string.Empty,"OnderdeelId", "OnderdeelNaam"))"></select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <label class="control-label">Taak</label>
                <select class="form-control" id="TaakId" name="TaakId" data-info=""
                        asp-items="@(new SelectList(string.Empty,"TaakId", "TaakNaam"))"></select>
            </div>
        </div>
    </div>

    @*<div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <div class="form-group">
                    <label asp-for="Prioriteit" class="control-label"></label>
                    <select class="form-control" asp-for="Prioriteit">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                    <span asp-validation-for="Prioriteit" class="text-danger"></span>
                </div>
            </div>
        </div>*@

    <div class="form-group">
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <input type="submit" value="Invoeren voorkeur" class="btn btn-outline-success" asp-controller="Voorkeur" asp-action="InvoegenVoorkeur" />
            </div>
        </div>
    </div>
</form>

<div class="row col-md-auto">
    <p id="Info"></p>
</div>

<div class="col-md-12">
    <div class="alert alert-info alert-primary text-center">
        <strong>Je hebt nog:</strong> <a class="alert-link">600</a> uur.
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}}