@using Model
@model List<Voorkeur>

@{
    ViewData["Title"] = "VoorkeurUitslag";
}

<h2>Voorkeur uitslag</h2>

<div>
    <h3>Voorkeur Najaar/Voorjaar 2019
        @* @if(datum.Month > 1 && datum.Month < 7) { }
            else { }*@   
    </h3>
    <table>
        <tr>
            <th>traject</th>
            <th>eenheid</th>
            <th>onderdeel</th>
            <th>taak</th>
            @*<th>prioriteit</th>*@
            <th>Opties</th>
            <th>Informatie</th>

        </tr>
        @foreach (Voorkeur vk in Model)
        {
        <tr>
            <td>@vk.TrajectNaam</td>
            <td>@vk.EenheidNaam</td>
            <td>@vk.OnderdeelNaam</td>
            <td>@vk.TaakNaam</td>
            @*<td>@vk.Prioriteit</td>*@
            <td>@Html.ActionLink("Delete", "Delete", "Voorkeur", new { id = vk.Id }, new { onclick = "return confirm('Weet u zeker dat deze voorkeur verwijderd moet worden ?');" })) | </td>
            <td>
                <div class="img-hover">
                    <a href="#">
                        <img src="~/images/info.png" style="height:20px; align-content: flex-start; display:block;" class="imgNavbar" />
                        <span>Informatie over het vak...</span>
                    </a>
                </div>
            </td>
        </tr>
        }
    </table>
</div>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>