@using Model.Onderwijsdelen
@model Tuple<IEnumerable<Eenheid>, EenheidViewModel>
@{
    ViewData["Title"] = "OverzichtEenheden";
}

<h2>Eenheden</h2>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Eenheid</th>
            <th>Traject</th>
            <th colspan="3"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Item1)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EenheidId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EenheidNaam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrajectNaam)
                </td>
                <td>
                    <input type="number" asp-route-ECTS="@item.ECTS" asp-for="@item.ECTS"  />       
                </td>
                <td>
                    <input type="number" asp-route-AantalKlassen="@item.AantalKlassen" asp-for="@item.AantalKlassen"  />
                </td>
                <td>
                    @Html.ActionLink("ECTS toewijzen", "WijzigEenheid", "CurriculumEigenaar", new { id = item.EenheidId, eenheidNaam = item.EenheidNaam, trajectNaam = item.TrajectNaam, ECTS = item.ECTS, AantalKlassen = item.AantalKlassen}, new { onclick = "return confirm('Weet u zeker dat u deze eenheid wilt aanpassen?');", @class = "delete-button" })
                </td>
            </tr>
        }
    </tbody>
</table>

