@using Model.Onderwijsdelen
@model Tuple<IEnumerable<Eenheid>, EenheidViewModel>
@{
    ViewData["Title"] = "OverzichtEenheden";
}

<h2>Eenheden</h2>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Eenheid</th>
            <th>Traject</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Item1)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EenheidId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EenheidNaam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrajectNaam)
                </td>
                <td>
                    @using (Html.BeginForm("WijzigEenheid", "Curriculumeigenaar", new { id = item.EenheidId, eenheidNaam = item.EenheidNaam, trajectNaam = item.TrajectNaam, ECTS = Model.Item2.ECTS, AantalKlassen = Model.Item2.AantalKlassen }, FormMethod.Post))
                    {
                        @Html.DisplayNameFor(model => model.Item2.ECTS) <text> </text>
                        @Html.EditorFor(model => model.Item2.ECTS, new { htmlAttributes = new { @type = "number", @min = "0", @step = "1", @value = "0", @placeholder = item.ECTS } })
                        @Html.ValidationMessageFor(model => model.Item2.ECTS)
                        <text> Aantal Klassen </text>
                        @Html.EditorFor(model => model.Item2.AantalKlassen, new { htmlAttributes = new { @type = "number", @min = "0", @step = "1", @value = "0", @placeholder = item.AantalKlassen } })
                        @Html.ValidationMessageFor(model => model.Item2.AantalKlassen)
                        <button type="submit" class="btn btn-default" style="color: black">Wijzig eenheid</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>