@using Model.Onderwijsdelen
@model Tuple<IEnumerable<Eenheid>, EenheidViewModel>
@{
    ViewData["Title"] = "OverzichtEenheden";
}

<h2>ECTS</h2>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Eenheid</th>
            <th>Traject</th>
            <td colspan="2"></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Item1)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EenheidId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EenheidNaam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrajectNaam)
                </td>
                <td>
                    <input type="number" asp-route-ECTS="@Model.Item2.ECTS" class="form-control" style="border: 1px solid black; border-radius: 1px;" />       
                </td>
                <td>
                    <input type="number" asp-route-AantalKlassen="@Model.Item2.AantalKlassen" class="form-control" style="border: 1px solid black; border-radius: 1px;" />
                </td>
                <td>
                    @Html.ActionLink("ECTS toewijzen", "WijzigEenheid", "CurriculumEigenaar", new { id = item.EenheidId, eenheidNaam = item.EenheidNaam, trajectNaam = item.TrajectNaam, ECTS = Model.Item2.ECTS, AantalKlassen = Model.Item2.AantalKlassen}, new { onclick = "return confirm('Weet u zeker dat u deze eenheid wilt aanpassen?');", @class = "delete-button" })
                </td>
            </tr>
        }
    </tbody>
</table>

