@model IEnumerable<Model.Docent>

@{
    ViewData["Title"] = "DocentenInTeam";
}

<h2>Docenten in uw team</h2>

<p>
    <a asp-action="VoegDocentToeAanTeam">Voeg Docent Toe Aan Team</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DocentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RuimteVoorInzet)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DocentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            @if (item.TeamId == 0)
            {
                <td>Deze persoon heeft nog geen Team</td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => item.TeamId)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.RuimteVoorInzet)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.DocentId">Edit</a> |*@
                <a asp-action="DetailsDocent" asp-route-id="@item.DocentId">Details</a> |
                <a asp-action="VerwijderUitTeam" asp-route-id="@item.DocentId">Verwijder docent uit Team</a> |
                @*<a>@Html.ActionLink("Fixeren", "Fixeren", new { /* */ })</a>*@
                <a asp-action="Fixeren" asp-route-id="@item.DocentId">Fixeren</a>
            </td>
        </tr>
}
    </tbody>
</table>
