@using Model
@model IEnumerable<Model.GefixeerdeTaak>
@{
    ViewData["Title"] = "FixerenOverzicht";
}

<h2>FixerenOverzicht</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fix_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocentNaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaakNaam)
            </th>
            <th>Opties</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fix_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocentNaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaakNaam)
            </td>
            <td>
                @Html.ActionLink("Fixatie verwijderen", "VerwijderGefixeerdeTaak", "Team", new { id = item.Fix_id }, new { onclick = "return confirm('Weet u zeker dat u deze fixatie wilt verwijderen?');", @class = "delete-button" })
            </td>
        </tr>
        }
    </tbody>
</table>
