@model IEnumerable<Model.Vacature>

@{
    ViewData["Title"] = "VacatureOverzicht";
    // Todo: Dropdown Onderwijstaken
}

<h2>VacatureOverzicht</h2>

<p>
    <a asp-action="MaakVacature">Voeg vacature toe</a>
</p>
<table >
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.VacatureID)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Omschrijving)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OnderwijsTaakNaam)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.VacatureID)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Omschrijving)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OnderwijsTaakNaam)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "EditVacature", new {  id=item.VacatureID  }) |*@
                @Html.ActionLink("Details", "VacatureDetails", new { id=item.VacatureID }) |
                @Html.ActionLink("Delete", "DeleteVacature", new { id=item.VacatureID  },new { onclick = "return confirm('Weet u zeker dat u deze vacature wilt verwijderen');", @class = "delete-button" })
            </td>
        </tr>
}
    </tbody>
</table>